@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&family=Raleway:wght@700&display=swap');
* {
    font-family: 'Raleway', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color-primary: #1fb2ed;
    --color-white: #e8e6e3;
    --color-black: #030910;
    --color-dark: #1a1d27;
    --color-gray: #9d9487;


    --font-Poppins: 'Poppins', sans-serif;
    --font-Raleway: 'Raleway', sans-serif;
    --font-OpenSans: 'Open Sans', sans-serif;

    --font-lg: 64px;
    --font-md: 26px;
    --font-sm: 15px;
    --font-xs: 9px;

    --size-lg: 1280px;
    --size-md: 976px;
    --size-sm: 768px;
    --size-xs: 500px;
}

html, body {
    height: 100%;
}

a {
    text-decoration: none;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: px;
    border: ;
    top: 200px;
  }

div.container {
    width: 100%;
    height: 100%;
}

.container-aside {
    width: 20%;
    max-width: 300px;
    min-width: 300px;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 4;
    background-color: var(--color-black);
    transition: left 1s;
}

.showMenu {
    left: 0 !important;
}

.container-main {
    width: 100%;
    height: 100%;
    background: url(../images/IMGbackofshirt.jpg) no-repeat center;
    background-size: cover;
    display: ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;

}
.container-main i { 
    background: ;
    position: ;
    align-items: ;
    display: ;
    position: ;
    bottom: ;
    left: ;
    animation-delay: var(--fa-animation-delay,3s);
    
}
form {
    font-family: 'Raleway', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #ffffff;
    text-shadow: 2px 0 0px #0012a3, 3px 2px 0px rgb(77 0 38 / 50%), 3px 0 3px #0f087a, 6px 2px 3px rgb(77 0 13 / 50%), 9px 2px 9px rgb(52 221 210), 15px 2px 30px rgb(64 77 0 / 50%), 17px 2px 45px rgb(38 77 0 / 50%);
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    border:;
}

label {
    font-size: 40px;
}

/* #box1 {
    height: 200px;
    width:200px;
    background-color: skyblue;
    position: relitive;
}

#box2 {
    height:85px;
    width:85px;
    background-color: red; 
} */


#chimp {
    position: relative;
    background: ;

    --fa-primary-color: lightseagreen; --fa-secondary-color: linen; --fa-secondary-opacity: 1.0;"
    display: flex;
    justify-content: center;
    align-items: center;
    height: px;
    border: ;
    top: 250px;
    left: 900px;
}

button:before {
    content:"";
    position :absolute;
    width:24px;
    height:24px;
    top:-5px;
      left:-5px;
    border-top:2px solid tomato;
    border-left:2px solid tomato;
    transition:all 0.25s;
  }
  #chimp:hover:before ,#chimp:hover:after{
    width:104%;
    height:110%;
  }
  #chimp:after{
    content:"";
    position :absolute;
    width:24px;
    height:24px;
    bottom:-5px;
      right:-5px;
    border-bottom:2px solid tomato;
    border-right:2px solid tomato;
    transition:all 0.30s;
  }

  .fa-mailchimp:before {
    content: "\f59e";
    color: white;
}



.containerMain-lblName{
     
        color: #A7DD3C;
        
        text-shadow: 2px 0 0px #0012a3, 3px 2px 0px rgb(77 0 38 / 50%), 3px 0 3px #0f087a, 6px 2px 3px rgb(77 0 13 / 50%), 9px 2px 9px rgb(52 221 210), 15px 2px 30px rgb(64 77 0 / 50%), 17px 2px 45px rgb(38 77 0 / 50%);
        
        
}

.containerMain-lblName, .containerMain-lblAbility {
    font-size: var(--font-lg);
    color: var(--color-white);
    position: relative;
    z-index: 3;
    margin-left: 30vw;
}

.containerMain-lblAbility {
    font-family: var(--font-Poppins);
    font-size: var(--font-md);
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    height: px;
    border: ;
    top: 200px;
    
}

p..containerMain-lblAbility {
    
}

.containerMain-lblAbility span {
    border-bottom: 3px solid var(--color-primary);
}

.containerMain-ShowMenu {
    display: none;
    position: fixed;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    z-index: 5;
    border: none;
    font-family: var(--font-OpenSans);
    font-size: var(--font-md);
    background-color: var(--color-primary);
    color: var(--color-white);
    cursor: pointer;
}

.container-aside, .asideHeader-userInformations {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;    
}

.asideHeader-userInformations {
    padding: 0;
}

.asideHeader-imgUserImage {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 8px solid #7a7265;
    margin-bottom: 20px;
}

.asideHeader-lblUserName {
    font-family: var(--font-Poppins);
    font-size: var(--font-md);
    font-weight: 600;
    color: var(--color-white);
    margin-bottom: 20px;
}

.asideHeader-btnSocial {
    padding: 10px 12px;
    margin: 0 2px;
    border-radius: 50%;
    background-color: var(--color-dark);
    color: var(--color-white);
    font-size: var(--font-sm);
    transition: background-color .5s;
}

.asideHeader-btnSocial:hover {
    background-color: var(--color-primary);
}

.containerAside-main, .asideMain-menuItemsBox {
    width: 100%;
    margin: 20px 0;
}

.asideMain-menuItem {
    margin: 15px 0;
}

.asideMain-menuItemsBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 30px;
}

.mainMenu-btnMenuItem {
    color: var(--color-gray);
    font-family: var(--font-OpenSans);
    font-size: var(--font-sm);
    font-weight: 400;
    transition: color .5s;
}

.mainMenu-btnMenuItem i {
    font-size: 24px;
}

.mainMenu-btnMenuItem:hover {
    color: var(--color-white);
}

.mainMenu-btnMenuItem:hover i {
    color: var(--color-primary);
}

.mainMenu-btnMenuItem:focus {
    color: var(--color-white);
}

.mainMenu-btnMenuItem:focus i {
    color: var(--color-primary);
}

.mainMenu-lblMenuItem {
    display: inline;
    margin-left: 5px;
}

.containerAside-footer {
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.asideFooter-lblCopyRight, .asideFooter-lblInfo {
    font-family: var(--font-OpenSans);
    font-size: var(--font-sm);
    font-weight: 400;
    color: #accbef;
}

.asideFooter-lblInfo {
    font-size: 13px;
    color: var(--color-white);
    margin-top: 10px;
}

.asideFooter-lblInfo strong {
    color: #36b2ed;
}

@media screen and (max-width: 12000px) {
    .container-aside {
        left: -500px;
    }
    
    .containerMain-ShowMenu {
        display: block;
    }

    .containerMain-lblName, .containerMain-lblAbility {
        margin-left: 10vw;
    }
}

@media screen and (max-width: 768px) {
    .containerMain-lblName{
        font-size: 28px;
    }
}