@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #333;
  color: #755386;
  font-family: 'Roboto', sans-serif;
}

h2 {
  font-size: 45px;
  font-weight: 300;
  margin: 10px;
}

h2 span {
  font-size: 30px;
}

p {
  font-size: 20px;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}
.firstimg > img {
  height: 100%
  width: 100% 
}

.container > div {
  cursor: pointer;
  height: 210px;
  background-size: cover;
  background-attachment: ;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  transition: all 0.5s ease-out;
}

.container > div:hover {
  opacity: 0.8;
  transform: scale(.98);
}

.container > div:nth-of-type(1) {
  grid-column: 1 / 3;
}

.container > div:nth-of-type(6) {
  grid-column: 3 / 5;
}

.container > div:nth-of-type(9) {
  grid-column: 3 / 5;
}

.container > div:nth-of-type(10) {
  grid-column: 1 / 3;
}

.bg1 {
  background: url('https://avatars.githubusercontent.com/u/57840939?v=4');
  background-color: #bf8ac9;
  opacity: 1.8;
}
div.bg1 {
  /* background: url('https://brianclincy.com/images/bclincy_bitemoji.png'); */
  object-fit: cover;
  height: 100%;
  width: 100%;
  content: fit;
}


.bg2 {
  background: url('https://avatars.githubusercontent.com/u/57840939?v=4');
  color: #888;
}
.bg2 {
  background: url('https://images.pexels.com/photos/1069798/pexels-photo-1069798.jpeg?auto=compress&cs=tinysrgb&w=600');
  color: #888;
}
.bg4 {
  background: url('https://cdn.dribbble.com/users/572013/avatars/normal/b2727c161b4173867ab373b330b9838b.jpg?1499420806');
  color: #888;
}
.bg2 {
  background: url('https://images.pexels.com/photos/1069798/pexels-photo-1069798.jpeg?auto=compress&cs=tinysrgb&w=600');
  color: #888;
}
.bg2 {
  background: url('https://images.pexels.com/photos/1069798/pexels-photo-1069798.jpeg?auto=compress&cs=tinysrgb&w=600');
  color: #888;
}
.bg2 {
  background: url('https://images.pexels.com/photos/1069798/pexels-photo-1069798.jpeg?auto=compress&cs=tinysrgb&w=600');
  color: #888;
}
.bg2 {
  background: url('https://images.pexels.com/photos/1069798/pexels-photo-1069798.jpeg?auto=compress&cs=tinysrgb&w=600');
  color: #888;
}
.bg2 {
  background: url('https://images.pexels.com/photos/1069798/pexels-photo-1069798.jpeg?auto=compress&cs=tinysrgb&w=600');
  color: #888;
}







img.firstimg {
  content: fit; 
}

div.bg1 {
  color: ;

}

div.container {
  color: ;
}
 
